<!DOCTYPE html>
<html>
  <head>
    <title>Tappdout</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= favicon_link_tag asset_path('beer_favicon.jpg') %>

    <meta property="og:title" content="Tappdout" />
    <meta property='og:image' content="<%= image_url('tappdout.jpg') %>"/>
    <meta property="og:description"
       content="Fullstack clone of the website Untapped, social networking for beer aficionados, using ratings to gauge user’s beer reviews."
     />
     <meta property="og:url"
       content="https://tappdout.herokuapp.com"
     />


    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700;900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap" rel="stylesheet">
    <%# <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap" rel="stylesheet"> %>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
    <script type="text/javascript">
      window.beerSplashLogo = "<%= image_url('logos/beer_splash_logo.png') %>";
      window.mapBg = "<%= image_url('map.jpg') %>"
      window.beerPic = "<%= image_url('beer_pic.jpg') %>"
      window.breweryPic = "<%= image_url('brewery_pic.jpg') %>"
      window.star = "<%= image_url('brewery_icon_claimed.png') %>"
      window.link = "<%= image_url('link.png') %>"
      window.loader = "<%= image_url('beer_loader.gif') %>"
      window.github = "<%= image_url('github_logo_black.png') %>"
      window.defAvatar = "<%= image_url('default_avatar.jpg') %>"
      window.defBeer = "<%= image_url('badge-beer-default.png') %>"
      window.addPhoto = "<%= image_url('checkin_photo.png') %>"
      window.modalClose = "<%= image_url('modal_close.png') %>"
      window.capEmpty = "<%= image_url('rating/cap-empty.png') %>"
      window.capFQ = "<%= image_url('rating/cap-25.png') %>"
      window.capHalf = "<%= image_url('rating/cap-half.png') %>"
      window.capLQ = "<%= image_url('rating/cap-75.png') %>"
      window.capFull = "<%= image_url('rating/cap-full.png') %>"
      window.proIcon = "<%= image_url('profile-icon.png') %>"
      window.feedToastIcon = "<%= image_url('feed_toast_icon.png') %>"
      window.numToastIcon = "<%= image_url('num_toasts_icon.png') %>"
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>

