<!DOCTYPE html>
<html>
  <head>
    <title>Tappdout</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>


    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700;900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap" rel="stylesheet">
    <%# <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap" rel="stylesheet"> %>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <script type="text/javascript">
      window.beerSplashLogo = "<%= image_url('logos/beer_splash_logo.png') %>";
      window.mapBg = "<%= image_url('map.jpg') %>"
      window.beerPic = "<%= image_url('beer_pic.jpg') %>"
      window.breweryPic = "<%= image_url('brewery_pic.jpg') %>"
      window.star = "<%= image_url('brewery_icon_claimed.png') %>"
      window.link = "<%= image_url('link.png') %>"
      window.loader = "<%= image_url('beer_loader.gif') %>"
      window.github = "<%= image_url('github_logo_black.png') %>"
      window.defAvatar = "<%= image_url('default_avatar.jpg') %>"
      window.defBeer = "<%= image_url('badge-beer-default.png') %>"
      window.addPhoto = "<%= image_url('checkin_photo.png') %>"
      window.modalClose = "<%= image_url('modal_close.png') %>"
    </script>
    <%= javascript_include_tag 'application' %>
    <%= favicon_link_tag asset_path('beer_favicon.jpg') %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>

